.supercontainer{
    width: -webkit-fill-available;
    height: 100vmax;
    background-image: url(https://wallpaperaccess.com/full/1151945.jpg);
    display: flex;
    flex-direction: column;
}
.back{
    margin-left: 130px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: whitesmoke;
    background-color: #282828;
    font-size: larger;
    font-family: candara;
    font-weight: bolder;
    border-radius: 10px;
}
.back:hover{
    color: rgb(74, 35, 90);
    background-color: rgb(208, 211, 212);
}
.container{
    background-color: ghostwhite;
    justify-content: center;
    width: 70%;
    align-self: center;
}
.title{
    padding-top: 10px;
    padding-left: 15px;
    font-family: 'Titan One';
    font-size: 30px;
}
.onsubmit{
    background-color: rgb(74, 35, 90);
    color: whitesmoke;
    font-family: candara;
    font-size: 20px;
    font-weight: 600;
}
.onsubmit:hover{
    background-color: rgb(208, 211, 212);
    color: rgb(74, 35, 90);
    cursor: pointer;
}
.onsubmit:disabled{
    opacity: 50%;
    cursor: not-allowed;
}
.topform{
    display: flex;
    flex-direction: column
}
.combodiv{
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}
.combolable{
    font-family: 'Arima';
    font-weight: 600;
    margin-left: 20px;
    width: 98px;
}
.combolabs{
    font-family: 'Arima';
    font-weight: 600;
    margin-left: 20px;
}
.combotitle{
    padding-left: 15px;
    font-family: 'Arima';
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(81, 46, 95);
}
.comboinput{
    background-color: rgb(230, 212, 237);
    font-family: 'Arima';
    border-radius: 10px;
    margin-left: 10px;
    width: 75%;
    padding-left: 10px;
    margin-right: 10px;
}
.diets{
    list-style: none;
}
.check{
    color:rgb(74, 35, 90);
    accent-color: currentcolor;   
}
.lablel{
    font-family: 'Arima';
    margin-left: 5px;
}
.range{
    appearance: none;
    color: rgb(74, 35, 90);
    background: grey;
    accent-color: currentcolor;
    margin-left: 15px;
}
.combostep{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.areas{
    display: block;
    padding: 10px;
    margin-left: 10px;
    width:75%;
    height: 80px;
    overflow: auto;
    background-color: rgb(230, 212, 237);
    border-radius: 10px;
    font-family: 'Amira';
    font-size: 16px;
    margin-right: 10px;
}
.areastep{
    display:inline-block;
    padding: 10px;
    margin-left: 15px;
    width:70%;
    height: 40px;
    overflow: auto;
    background-color: rgb(230, 212, 237);
    border-radius: 10px;
    font-family:'Amira';
    font-size: 16px;
}
.stepsub{
    margin-left: 10px;
    color: whitesmoke;
    background-color: #282828;
    font-size: large;
    font-family: candara;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 10px;
}
.stepsub:hover{
    color: rgb(74, 35, 90);
    background-color: rgb(208, 211, 212);
}
.warning{
    margin-left: 5px;
    font-family: 'Amira';
    color: rgb(74, 35, 90);
}
@media (max-width:910px){
    .supercontainer{
        height: 100%;
    }
}
@media (max-width:850px){
    .supercontainer{
        height: 100vmax;
    }
    .title{
        font-size: 20px;
    }
    .combotitle{
        font-size: 15px;
    }
    .combolable{
        font-size: small;
    }
    .combolabs{
        font-size: small;
    }
    .stepsub{
        font-size: small;
    }
    .back{
        font-size: small;
    }
    .diets{
        font-size: small;
    }
}