.container{
    background-image: url('https://wallpaperaccess.com/full/1151945.jpg');
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
}
.supercontainer{
    background-image: url('https://wallpaperaccess.com/full/1151945.jpg');
    height:100vh;
}