.list{
    display: flex;
    justify-content: center;
    background-color: rgb(81, 46, 95);
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.element{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline: 8px;
}
.current{
    background-color: rgb(81, 46, 95);
    color: whitesmoke;
    border-color: whitesmoke;
    font-family: fantasy;
    border-radius: 5px;
}
.current:hover{
    background-color: rgb(242, 244, 244);
    cursor: pointer;
    color: black;
}
.btn{
    font-family: fantasy;
    border-radius: 5px;
    background-color: rgb(242, 244, 244);
}
.btn:hover{
    background-color: rgb(81, 46, 95);
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

@media (max-width:530px){
    .element{
        margin-inline: 3px;
    }
    .btn{
        font-size: 10px;
        padding-inline: 3px;
    }
}