.link{
    text-decoration: none;    
}
.container{
    background-color: rgb(251, 238, 230, .8);
    border-radius: 10px;
    width: 330px;
    margin: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.titlecontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
.title{
    color: rgb(100,30,22);
    width: 80%;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.scorecontainer{
    display: flex;
    align-items: center;
}
.img{
    width: 20px;
    border-radius: 30px;
}
.score{
    color: rgb(100,30,22);
    font-weight: 500;
    margin-right: 15px;
}
.imgcontainer{
    display: flex;
    justify-content: center;
}
.rcpimg{
    border-radius: 15px;
}
.dietcontainer{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 130px 130px;
    justify-items: start;
    align-items:center;
    justify-content: center;
    margin-bottom: 10px;
}
.diet{
    color: rgb(100,30,22);
    justify-content: center;
    align-items: center;
}