.bar{
    background-color: rgb(238, 239, 239);
    margin: 0;
}
.titlecontainer{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    
}
.title{
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 10px;
    display: inline-block;
    border-radius: 200px;
    color: rgb(0, 0, 0);
    font-family: 'Titan One';
    letter-spacing: 2px;
    font-size: 50px;
}
.head{
    display: inline-flex;
}
.searchcontainer{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
}
.div{
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.input{
    background:rgb(235, 222, 240);
	color: rgb(33, 32, 32);
	height: 25px;
	padding-left: 18px;
	border-radius: 30px;
	border: 3px solid #2f2e2e;
}
.searchbutton{
    color: #e8efe8;
	background: #212222;
    font-size:x-large;
    border-radius: 30px;
    padding: 0px 4px;
}
.searchbutton:hover{
    color: #212222;
    border-color: #212222;
    background-color: whitesmoke;
    cursor: pointer;
}
.link{
    text-decoration: none;
    background-color: rgb(28, 30, 29);
    color: white;
    padding: 8px 8px;
    border-radius: 15px;
    font-family: candara;
    font-size: medium;
    font-weight: 500;
    border-bottom-style: outset;
    margin-right: 25px;
    margin-left: 10px;
}
.link:hover{
    background-color: rgb(230, 212, 237);
    color:rgb(28, 30, 29);
    border-color: rgb(28, 30, 29);
}
.reload{
    color: #f6f9f9;
    background: #282828;
    font-size: medium;
    font-weight: 600;
    font-family: candara;
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 18px;
}
.reload:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: #282828;
    border-color: #282828;
}
.bottombar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.combo{
    background-color: rgb(235, 222, 240);
    border-radius: 20px;
    border: solid;
    border-color: rgb(42, 41, 41);
    margin-bottom: 10px;
}
.combolabel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 10px;
    font-size: medium;
}
.comboselect{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 10px;
    margin-right: 10px;
    background-color: rgb(235, 222, 240);
    border-color: rgb(235, 222, 240);
}
@media (max-width: 1100px) {
    .div{
        margin-right: 40px;
    }    
}
@media (max-width: 900px) {
    .div{
        margin-right: 15px;
    }    
}
@media (max-width: 850px) {
    .title{
        font-size: 35px;
        letter-spacing: 1px;
    }
    .searchbutton{
        font-size: large;
    }
    .reload{
        font-size: small;
        margin-left: 0px;
    }
    .link{
        font-size: small;
        margin-right: 10px;
    }
    .combolabel{
        font-size: small;
        padding: 0px 5px;
    }
}
@media (max-width:700px){
    .searchcontainer{
        flex-direction: column-reverse;
        align-items: flex-end
    }
    .bottombar{
        flex-direction: column;
        align-items:center;
    }
    .reload {
        margin: 5px 5px;
    }
    .link {
        margin: 5px 5px;
    }
    .div{
        margin-right: 0px;
    }
    .title{
        padding-inline: 0px;
        margin-left: 5px;
    }
    .input{
        width: 120px;
    }
}
@media (max-width:530px){
    .titlecontainer{
        flex-direction: column;
    }
}